@use 'variables' as *;
@use 'mixins' as *;

.modal-signin-container{
  display: none;
  width: 331px;
  height: 290px;
  top: 269px;
  left: 40px;
  border-radius: 4px;
    h2{
      font: 'PT Sans', sans-serif;
      color: $secondary-text-color;
    }

}



