@use 'variables' as *;
.modal-content {
    position: relative;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    background-color: #fff;
    .modalInterno-chat {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        height: 50%;
        background-color: rgba(0,0,0,0.5);
        .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
        }   
}

   }



