@use 'variables' as *;
@use 'mixins' as *;

.edit-contact {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 212px;
  height: 269px;
  background-color: $secondary-color;
  color: $secondary-text-color;
  font-size: 1.8rem;
  border-radius: 20px;
}