@use 'variables' as *;
@use 'mixins' as *; 


.signup-container{
    padding: 20px;
    width: 350px;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;

    h2{}
}
