@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/* Colors */
/* background color #18252D */
/* header */
/* text app */
/* large texts */
/* small texts */
/* Fonts and sizes */
/* Screen sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* medidas rem 16px = 1.6rem */
}

body {
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.6392156863);
}

a {
  text-decoration: none;
}

.wrapper {
  width: 411px;
  height: 823px;
  background-color: #101D24;
  margin: auto;
  position: relative;
}

.signin-container {
  width: 100%;
  height: 100%;
  padding: 40px 25px;
}
.signin-container__welcome-container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #101D24;
}
.signin-container__welcome-container--title {
  align-self: start;
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 1px;
  color: #D3DAE0;
}
.signin-container__welcome-container--image-container {
  width: 100%;
  height: 400px;
  border-radius: 50%;
  background-image: url("../assets/images/whatsapp-image.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.signin-container__welcome-container--text {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.5px;
  color: #9DA5AC;
  align-self: flex-start;
}
.signin-container__welcome-container--text span {
  color: rgb(101, 202, 241);
}
.signin-container__welcome-container--button {
  cursor: pointer;
  width: 300px;
  height: 50px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #101D24;
  background-color: #189C87;
}
.signin-container__welcome-container--brand-container {
  color: #9DA5AC;
  align-self: flex-end;
}
.signin-container__welcome-container--brand-container p {
  font-size: 1.6rem;
  text-align: center;
}
.signin-container__welcome-container--brand-container .brand {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.signin-container__auth-container {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-rows: 70px 1fr;
  position: relative;
}
.signin-container__auth-container--title, .signin-container__signup-container--title {
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 1px;
  color: #D3DAE0;
}
.signin-container__auth-container .form {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.signin-container__auth-container .form__input-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 70px 20px 70px 20px;
}
.signin-container__auth-container .form__input {
  padding: 5px 25px;
  width: 260px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #189C87;
  color: #D3DAE0;
  font-size: 1.7rem;
}
.signin-container__auth-container .form__input::placeholder {
  color: #9DA5AC;
}
.signin-container__auth-container .form__input:focus {
  border: none;
  outline: none;
  border-bottom: 4px solid #189C87;
}
.signin-container__auth-container .form__button {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #101D24;
  background-color: #189C87;
  align-self: flex-end;
}
.signin-container__auth-container .signup-redirect {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 67px);
  font-size: 2rem;
  color: #189C87;
  text-decoration: underline;
}
.signin-container__signup-container {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-rows: 40px 1fr;
  position: relative;
}
.signin-container__signup-container .signup-back {
  position: absolute;
  top: -20px;
  left: -10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #D3DAE0;
  background-color: transparent;
}
.signin-container__signup-container .form {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.signin-container__signup-container .form .profile-picture-wrapper {
  width: 320px;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  border: 2px dashed rgba(24, 156, 135, 0.3);
}
.signin-container__signup-container .form__profile-picture {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
  display: grid;
}
.signin-container__signup-container .form__profile-picture--image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-container__signup-container .form__profile-picture--image-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.signin-container__signup-container .form__profile-picture--input-container {
  width: 100%;
  height: 100%;
}
.signin-container__signup-container .form__profile-picture--input-container label {
  font-size: 1.4rem;
  color: #189C87;
  display: block;
  margin: 15px 0;
  text-align: center;
}
.signin-container__signup-container .form__profile-picture--input-container label span {
  font-weight: 700;
  color: #189C87;
}
.signin-container__signup-container .form__profile-picture .singup-input-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.signin-container__signup-container .form__input-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 70px 20px 70px 20px;
}
.signin-container__signup-container .form__input, .signin-container__signup-container .form__textarea {
  padding: 5px 25px;
  width: 260px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #189C87;
  color: #D3DAE0;
  font-size: 1.7rem;
}
.signin-container__signup-container .form__input::placeholder, .signin-container__signup-container .form__textarea::placeholder {
  color: #9DA5AC;
}
.signin-container__signup-container .form__input:focus, .signin-container__signup-container .form__textarea:focus {
  border: none;
  outline: none;
  border-bottom: 4px solid #189C87;
}
.signin-container__signup-container .form__submit {
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #101D24;
  background-color: #189C87;
  align-self: flex-end;
}

input[type=number]:focus::-webkit-inner-spin-button, input[type=number]:hover::-webkit-inner-spin-button {
  display: none; /* para retirar el scroll */
}

textarea {
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
}
textarea::placeholder {
  font-family: "PT Sans", sans-serif;
}

.home-container {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 0;
}
.home-container__header {
  width: 100%;
  height: 120px;
  background-color: #232D36;
  display: grid;
}
.home-container__header--top {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-container__header--top .title {
  font-size: 2.2rem;
  text-align: left;
  letter-spacing: 1px;
  color: #868F94;
}
.home-container__header--top .icons {
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-container__header .home-header {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.home-container__header .home-header__image {
  padding-bottom: 10px;
}
.home-container__header .home-header__options-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.home-container__header .home-header__options-container--option {
  cursor: pointer;
  width: 90px;
  height: 40px;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #868F94;
  background-color: transparent;
}
.home-container__header .home-header__options-container .chats {
  color: #189C87;
  border-bottom: 2px solid #189C87;
}
.home-container__main {
  width: 100%;
  height: 703px;
  padding: 10px 15px;
  position: relative;
}
.home-container__main--cards-container {
  width: 100%;
  height: auto;
}
.home-container__main--cards-container .card {
  cursor: pointer;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgba(157, 165, 172, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-container__main--cards-container .card .profile-container {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home-container__main--cards-container .card .profile-container__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.home-container__main--cards-container .card .profile-container__title {
  font-size: 1.7rem;
  text-align: left;
  letter-spacing: 1px;
  color: #9DA5AC;
  padding-left: 20px;
}
.home-container__main--cards-container .card .connection {
  font-size: 1.2rem;
  color: rgba(157, 165, 172, 0.6);
}
.home-container__main--cards-container .message-button {
  position: absolute;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFD;
  background-color: transparent;
}

.status-container {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 0;
}
.status-container__header {
  width: 100%;
  height: 120px;
  background-color: #232D36;
  display: grid;
}
.status-container__header--top {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.status-container__header--top .title {
  font-size: 2.2rem;
  text-align: left;
  letter-spacing: 1px;
  color: #868F94;
}
.status-container__header--top .icons {
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.status-container__header .status-header {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.status-container__header .status-header__image {
  padding-bottom: 10px;
}
.status-container__header .status-header__options-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.status-container__header .status-header__options-container--option {
  cursor: pointer;
  width: 90px;
  height: 40px;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #868F94;
  background-color: transparent;
}
.status-container__header .status-header__options-container .status {
  color: #189C87;
  border-bottom: 2px solid #189C87;
}
.status-container__main {
  width: 100%;
  height: 703px;
  padding: 10px 15px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
}
.status-container__main .my-status {
  width: 100%;
  height: 100%;
}
.status-container__main .my-status__card, .status-container__main .recent-updates__card, .status-container__main .viewed-updates__card {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 250px 71px;
  grid-template-rows: auto;
}
.status-container__main .my-status__card--image-container, .status-container__main .recent-updates__card--image-container, .status-container__main .viewed-updates__card--image-container {
  width: 55px;
  height: 55px;
  border: 2px solid #9DA5AC;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.status-container__main .my-status__card--image-container img, .status-container__main .recent-updates__card--image-container img, .status-container__main .viewed-updates__card--image-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.status-container__main .my-status__card--info-container, .status-container__main .recent-updates__card--info-container, .status-container__main .viewed-updates__card--info-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 5px;
}
.status-container__main .my-status__card--info-container .title, .status-container__main .recent-updates__card--info-container .title, .status-container__main .viewed-updates__card--info-container .title {
  font-size: 1.8rem;
  color: #D3DAE0;
  letter-spacing: 1px;
}
.status-container__main .my-status__card--info-container .date-info, .status-container__main .recent-updates__card--info-container .date-info, .status-container__main .viewed-updates__card--info-container .date-info {
  font-size: 1.2rem;
  color: #9DA5AC;
}
.status-container__main .my-status__card img, .status-container__main .recent-updates__card img, .status-container__main .viewed-updates__card img {
  justify-self: end;
}
.status-container__main .recent-updates, .status-container__main .viewed-updates {
  width: 100%;
  height: 100%;
}
.status-container__main .recent-updates__title, .status-container__main .viewed-updates__title {
  font-size: 1.6rem;
  color: #868F94;
}
.status-container__main .recent-updates__card, .status-container__main .viewed-updates__card {
  height: 90px;
  grid-template-columns: 60px 250px;
}
.status-container__main .recent-updates__card--image-container img, .status-container__main .viewed-updates__card--image-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.status-container__main--buttons {
  width: 60px;
  height: 100px;
  position: absolute;
  bottom: 50px;
  right: 20px;
}
.status-container__main--buttons button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFFFFD;
  background-color: transparent;
}

.calls-container {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 0;
}
.calls-container__header {
  width: 100%;
  height: 120px;
  background-color: #232D36;
  display: grid;
}
.calls-container__header--top {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calls-container__header--top .title {
  font-size: 2.2rem;
  text-align: left;
  letter-spacing: 1px;
  color: #868F94;
}
.calls-container__header--top .icons {
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.calls-container__header .calls-header {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.calls-container__header .calls-header__image {
  padding-bottom: 10px;
}
.calls-container__header .calls-header__options-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.calls-container__header .calls-header__options-container--option {
  cursor: pointer;
  width: 90px;
  height: 40px;
  border-radius: 0px;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #868F94;
  background-color: transparent;
}
.calls-container__header .calls-header__options-container .calls {
  color: #189C87;
  border-bottom: 2px solid #189C87;
}
.calls-container__main {
  width: 100%;
  height: 703px;
  padding: 10px 15px;
  position: relative;
}
.calls-container__main .calls__card {
  width: 100%;
  height: 85px;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 250px 71px;
  grid-template-rows: auto;
}
.calls-container__main .calls__card--image-container {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.calls-container__main .calls__card--image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.calls-container__main .calls__card--info-container {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.calls-container__main .calls__card--info-container .title {
  font-size: 1.8rem;
  color: #D3DAE0;
  text-align: unset;
}
.calls-container__main .calls__card--info-container .detail {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}
.calls-container__main .calls__card--info-container .detail p {
  font-size: 1.3rem;
  color: #868F94;
}
.calls-container__main .calls__card--image {
  justify-self: flex-end;
  padding-right: 20px;
}
.calls-container__main .make-a-call {
  position: absolute;
  bottom: 30px;
  right: 25px;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFFFFD;
  background-color: transparent;
}

.chats-container {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 0;
}
.chats-container__header {
  width: 100%;
  height: 52px;
  background-color: #232D36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.chats-container__header--left, .chats-container__header--right {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chats-container__header--left .arrow-back, .chats-container__header--right .arrow-back {
  padding-right: 10px;
  cursor: pointer;
}
.chats-container__header--left .contact-info, .chats-container__header--right .contact-info {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
}
.chats-container__header--left .contact-info img, .chats-container__header--right .contact-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.chats-container__header--left .contact-info .username, .chats-container__header--right .contact-info .username {
  padding-left: 15px;
  font-size: 2.1rem;
  color: #9DA5AC;
}
.chats-container__header--right {
  width: 110px;
}
.chats-container__header--right .chat-menu-icon {
  cursor: pointer;
}
.chats-container__main {
  width: 100%;
  height: 771px;
  padding: 10px 15px;
  position: relative;
}
.chats-container__main--wallpaper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 771px;
  background-image: url("../assets/images/wallpaper.png");
  z-index: 0;
}
.chats-container__main--bottom-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chats-container__main--bottom-container .emojis {
  width: 40px;
  height: inherit;
  background-color: #2D383E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.chats-container__main--bottom-container .input {
  padding: 5px 25px;
  width: 220px;
  height: inherit;
  background-color: #2D383E;
  border: none;
  border-bottom: 2px solid none;
  color: #707980;
  font-size: 1.8rem;
  padding: 5px 10px;
}
.chats-container__main--bottom-container .input::placeholder {
  color: #707980;
}
.chats-container__main--bottom-container .input:focus {
  border: none;
  outline: none;
  border-bottom: 4px solid none;
}
.chats-container__main--bottom-container .icons {
  width: 70px;
  height: inherit;
  background-color: #2D383E;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.chats-container__main--bottom-container .icons .camera-icon {
  padding-right: 15px;
}
.chats-container__main--bottom-container .microphone-icon {
  padding-left: 10px;
}

.smiley-face,
.clip-icon,
.camera-icon,
.microphone-icon {
  cursor: pointer;
}

.take-a-picture-container {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 0;
  background-image: url("../assets/images/house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  opacity: 0.8;
  position: relative;
  z-index: 0;
}
.take-a-picture-container__top {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 2;
}
.take-a-picture-container__top .close-picture {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 2.6rem;
  font-weight: 700;
  color: #FFFFFD;
  background-color: transparent;
}
.take-a-picture-container__top .video-counter {
  width: 90px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(16, 29, 36, 0.3);
  border-radius: 30px;
}
.take-a-picture-container__top .video-counter span {
  color: #FFFFFD;
  font-size: 1.4rem;
}
.take-a-picture-container__top .flash-icon {
  width: 25px;
  height: 25px;
}
.take-a-picture-container__gallery {
  position: absolute;
  bottom: 180px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.take-a-picture-container__gallery img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.take-a-picture-container__tools {
  position: absolute;
  bottom: 90px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.take-a-picture-container__tools .photo-icon-container, .take-a-picture-container__tools .selfie-icon-container {
  width: 40px;
  height: 40px;
  background-color: rgba(16, 29, 36, 0.3);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #FFFFFD;
}
.take-a-picture-container__tools .take-photo {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #D3DAE0;
  background-color: transparent;
  border: 4px solid #FFFFFD;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.take-a-picture-container__tools .take-photo div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFD;
}
.take-a-picture-container__tools .take-photo div:hover {
  background-color: #de2d4e;
}
.take-a-picture-container__tools .selfie-icon-container img {
  width: 20px;
  height: 20px;
}
.take-a-picture-container__choose-option {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #101D24;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.take-a-picture-container__choose-option button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  color: #D3DAE0;
  background-color: #101D24;
  letter-spacing: 1px;
}
.take-a-picture-container__choose-option button:hover {
  background-color: #232D36;
}

.send-picture-container {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 0;
  background-image: url("../assets/images/house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  opacity: 0.8;
  position: relative;
  z-index: 0;
}
.send-picture-container__top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.send-picture-container__top button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFD;
  background-color: rgba(16, 29, 36, 0.3);
}
.send-picture-container__top .right {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.send-picture-container__choose-option {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6392156863);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.send-picture-container__choose-option .name-wrapper {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: #232D36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.send-picture-container__choose-option .name-wrapper p {
  font-size: 1.4rem;
  color: #D3DAE0;
}
.send-picture-container__choose-option .send-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.contact-info-container {
  width: 100%;
  height: 100%;
  padding: 0 0;
  display: none;
  grid-template-columns: auto;
  grid-template-rows: 260px 150px 230px 153px;
  gap: 10px;
}
.contact-info-container__top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #18252D;
  padding: 10px;
}
.contact-info-container__top .arrow-back-icon, .contact-info-container__top .contact-menu-icon {
  cursor: pointer;
}
.contact-info-container__top .contact {
  width: 220px;
  height: inherit;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100px 30px 30px 70px;
}
.contact-info-container__top .contact__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.contact-info-container__top .contact__name {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #FFFFFD;
}
.contact-info-container__top .contact__number {
  font-size: 1.5rem;
  color: #9DA5AC;
}
.contact-info-container__top .contact__actions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-info-container__top .contact__actions--options {
  display: grid;
  gap: 10px;
}
.contact-info-container__top .contact__actions--options button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #189C87;
  background-color: transparent;
}
.contact-info-container__top .contact__actions--options span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #189C87;
}
.contact-info-container__media-links-docs {
  width: 100%;
  height: 100%;
  background-color: #18252D;
  display: grid;
  gap: 5px;
  grid-template-rows: 40px 85px;
  padding: 0 10px;
}
.contact-info-container__media-links-docs--top, .contact-info-container__media-links-docs--carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-info-container__media-links-docs--top p, .contact-info-container__media-links-docs--carousel p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #9DA5AC;
}
.contact-info-container__media-links-docs--top div, .contact-info-container__media-links-docs--carousel div {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-info-container__media-links-docs--top div span, .contact-info-container__media-links-docs--carousel div span {
  font-size: 1.4rem;
  color: #9DA5AC;
}
.contact-info-container__media-links-docs--top div button, .contact-info-container__media-links-docs--carousel div button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #9DA5AC;
  background-color: transparent;
}
.contact-info-container__media-links-docs--carousel img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}
.contact-info-container__notifications {
  width: 100%;
  height: 100%;
  background-color: #18252D;
  padding: 0 10px;
}
.contact-info-container__notifications--items {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contact-info-container__notifications--items i, .contact-info-container__notifications--items span {
  font-size: 1.8rem;
  color: #9DA5AC;
}
.contact-info-container__notifications--items span {
  padding-left: 20px;
}
.contact-info-container__encryption {
  width: 100%;
  height: 100%;
  background-color: #18252D;
}
.contact-info-container__encryption--items {
  width: 100%;
  height: 33.3333333333%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contact-info-container__encryption--items i {
  font-size: 1.8rem;
  color: #9DA5AC;
}
.contact-info-container__encryption--items .description-wrapper {
  width: 350px;
  height: 100%;
  display: grid;
  align-content: center;
  padding-left: 20px;
}
.contact-info-container__encryption--items .description-wrapper p {
  font-size: 1.6rem;
  color: #D3DAE0;
}
.contact-info-container__encryption--items .description-wrapper span {
  font-size: 1.3rem;
  color: #868F94;
  line-height: 1;
}
.contact-info-container__encryption--items .delete-button {
  cursor: pointer;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  border: none;
  text-transform: lowercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #de2d4e;
  background-color: transparent;
}
.contact-info-container__encryption--items .delete-button i {
  color: inherit;
}

.modal-signin-container {
  display: none;
  width: 331px;
  height: 290px;
  top: 269px;
  left: 40px;
  border-radius: 4px;
  background-color: #232D36;
}
.modal-signin-container h2 {
  font-family: "PT Sans", sans-serif;
  color: #D3DAE0;
}

#errorModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.error-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-signin-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #189C87;
  background-color: #232D36;
}
#modal-signin-form .form__input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #189C87;
  border-radius: 4px;
  font-size: 14px;
}
#modal-signin-form .form__input::placeholder {
  color: #aaa;
}
#modal-signin-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #189C87;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
#modal-signin-form button:hover {
  background-color: #117061;
}

.modal-signup-container {
  width: 331px;
  height: 290px;
  padding: 20px;
  border: 1px solid #189C87;
  background-color: #232D36;
  margin: 20px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-signup-container h2 {
  text-align: center;
  color: #9DA5AC;
  font-size: 24px;
  margin-bottom: 20px;
}
.modal-signup-container .signup-form .modal__signup {
  display: flex;
  flex-direction: column;
}
.modal-signup-container .signup-form .modal__signup input, .modal-signup-container .signup-form .modal__signup textarea, .modal-signup-container .signup-form .modal__signup button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #189C87;
  border-radius: 4px;
}
.modal-signup-container .signup-form .modal__signup textarea {
  height: 100px;
  resize: vertical;
}
.modal-signup-container .signup-form .modal__signup button {
  background-color: #189C87;
  color: #189C87;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal-signup-container .signup-form .modal__signup button:hover {
  background-color: #189C87;
}

.chat-menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.chat-menu-icon:hover {
  opacity: 0.7;
}

.modalInternod-chat {
  display: none;
  position: fixed;
  left: 215px;
  top: 27px;
  width: 212px;
  height: 269px;
  background-color: #232D36;
}
.modalInternod-chat .modal-content {
  width: 209px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #232D36;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.modalInternod-chat .modal-content p {
  margin-bottom: 12px;
  cursor: pointer;
  color: #9DA5AC;
}
.modalInternod-chat .modal-content p:hover {
  text-decoration: underline;
}

.contact-menu-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.contact-menu-icon:hover {
  opacity: 0.7;
}

.modalEdit-contact {
  display: none;
  position: fixed;
  left: 215px;
  top: 27px;
  width: 212px;
  height: 269px;
  background-color: #232D36;
}
.modalEdit-contact .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 300px;
  padding: 20px;
  background-color: #232D36;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.modalEdit-contact .modal-content p {
  margin-bottom: 10px;
  cursor: pointer;
  color: #FFFFFD;
}
.modalEdit-contact .modal-content p:hover {
  text-decoration: underline;
}

.edit-contact {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 212px;
  height: 269px;
  background-color: #232D36;
  color: #D3DAE0;
  font-size: 1.8rem;
  border-radius: 20px;
}

/*# sourceMappingURL=styles.css.map */
