@use 'variables' as *;

@mixin containerStyle {
  width: 100%;
  height: 100%;
  padding: 40px 25px;
}

@mixin titleStyle($f-s, $text-align, $letter-spc, $color) {
  font-size: $f-s;
  text-align: $text-align;
  letter-spacing: $letter-spc;
  color: $color;
}

@mixin buttonStyle($width, $height, $b-r, $text-transf, $f-s, $color, $bg-color) {
  cursor: pointer;
  width: $width;
  height: $height;
  border-radius: $b-r;
  border: none;
  text-transform: $text-transf;
  font-size: $f-s;
  font-weight: $bold-weight;
  color: $color;
  background-color: $bg-color;
}

@mixin inputStyle($width, $height, $bg-color, $border-botom-color, $color, $f-s, $ph-color) {
  padding: 5px 25px;
  width: $width;
  height: $height;
  background-color: $bg-color;
  border: none;
  border-bottom: 2px solid $border-botom-color;
  color: $color;
  font-size: $f-s;
  &::placeholder {
    color: $ph-color;
  }
  &:focus {
    border: none;
    outline: none;
    border-bottom: 4px solid $border-botom-color;
  }
}